    body {
        background-color: #f2f5f7;
        color: #000000;
        font-family: Arial, sans-serif;
    }
    
    header {
        background-color: #ffffff;
        padding: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
    }
    
    h1 {
        margin-left: 20%;
        font-family: Arial, sans-serif;
        font-weight: 400;
        font-size: 2rem;
    }
    
    .container {
        margin-left: 16%;
    }
    
    h2 {
        font-family: Arial, sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
    }
    
    .btn1 {
        font-size: 12px;
        text-decoration: none;
        background-color: #ce0033;
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-variant: small-caps;
        padding: 10px 20px;
        border-radius: 4px;
    }
    
    .btn1:hover {
        background-color: transparent;
        color: #ce0033;
        border: 1px solid #ce0033;
    }
    
    .row {
        display: flex;
    }
    
    .one-half {
        width: 50%;
    }
    
    .one-half2 {
        margin-left: 20%;
    }
    
    .bloc-text {
        font-size: 14px;
    }
    
    .main-container {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        width: 60%;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px 50px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    
    .container-footer {
        margin: 20px auto;
        width: 69%;
    }
    
    hr {
        visibility: hidden;
    }
    
    .code {
        background-color: #f1f1f1;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .main-span {
        font-size: 12px;
    }
    
    #random {
        color: grey;
        margin-left: 40%;
        border-style: none;
        border: 1px solid grey;
        border-radius: 4px;
        padding: 10px 10px;
        font-weight: bold;
        font-size: 14px;
    }
    
    ul {
        position: relative;
        left: -40px;
    }
    
    ul li {
        list-style: none;
    }
    
    li {
        margin-top: 10px;
    }
    
    img {
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
    
    .main-span:hover {
        cursor: pointer;
    }
    
    @media (max-width: 940px) {
        code {
            font-size: 14px;
        }
    }
    
    @media (max-width: 820px) {
        code {
            font-size: 10px;
        }
    }
    
    @media (max-width: 600px) {
        code {
            font-size: 8px;
        }
    }
    
    @media (max-width: 500px) {
        code {
            font-size: 6px;
        }
    }
    
    @media (max-width: 600px) {
        .btn1 {
            font-size: 8px;
            padding: 5px 10px;
        }
    }
    
    @media (max-width: 600px) {
        #random {
            margin-left: 25%;
        }
    }